<!DOCTYPE html>
<html>
  {% block base_head %}
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}TwitterMap{% endblock page_title %}</title>

    {% block head_extra_css %}{% endblock head_extra_css %}
    {% block head_extra_js %}{% endblock head_extra_js %}

  </head>
  {% endblock base_head %}
  {% block base_body %}
  <body>
      {% block body_content %}{% endblock body_content %}

      {% block base_javascript %}
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&libraries=visualization"></script>
        <script src="//cdn.jsdelivr.net/npm/vue@2.4.4/dist/vue.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
      {% endblock base_javascript %}
      {% block javascript %}{% endblock javascript %}
  </body>
  {% endblock base_body %}
</html>
